<launch>
  <node name="ip_mapper_node" pkg="ip_mapping" type="ip_mapper_node" output="screen">
    <param name="camera_name"     type="string"   value="/camera/rgb/image_raw"/>  
    <param name="ow"         		  type="int" 		  value="1280"/>  
    <param name="oh"		   		    type="int" 		  value="720"/>
    <param name="f_u"             type="double"   value="896.362732"/>
    <param name="f_v"             type="double"   value="912.085388"/>
    <param name="c_u"             type="double"   value="628.975436"/>
    <param name="c_v"             type="double"   value="405.070026"/>
    <param name="deg"            	type="double" 	value="25"/>
    <param name="cam_h"         	type="double" 	value="18"/>
  </node>

</launch>