<launch>

  <param name="cam_w"                     type="int"    value="640"/>  
  <param name="cam_h"                     type="int"    value="480"/>


  <!--remap from="lane_model/lane_model_image" to="app/camera/rgb/image_raw" /-->
  <!--remap from="camera/ground_image_ipmapped" to="camera/rgb/image_raw" /-->


  <node name="line_detection_fu_node" pkg="line_detection_fu" type="line_detection_fu_node" >  	
  	<param name="proj_y_start"            	    type="int" 		value="415"/>
  	<param name="proj_image_h"            	    type="int" 		value="40"/>
  	<param name="proj_image_w"            	    type="int" 		value="80"/>
  	<param name="proj_image_horizontal_offset"  type="int"    value="0"/>
    <param name="roi_top_w"            	        type="int" 		value="62"/>
  	<param name="roi_bottom_w"            	    type="int" 		value="30"/>
    <param name="minYRoi"                       type="int"    value="5"/>
    <param name="maxYDefaultRoi"                type="int"    value="39"/>
    <param name="maxYPolyRoi"                   type="int"    value="39"/>
    <param name="defaultXLeft"                  type="int"    value="10"/>
    <param name="defaultXCenter"                type="int"    value="30"/>
    <param name="defaultXRight"                 type="int"    value="50"/>
    <param name="interestDistancePoly"          type="int"    value="10"/>
    <param name="interestDistanceDefault"       type="int"    value="10"/>
    <param name="iterationsRansac"              type="int"    value="10"/>
    <param name="proportionThreshould"          type="double" value="0.5"/>
    <param name="m_gradientThreshold"           type="int"    value="10"/>
    <param name="m_nonMaxWidth"                 type="int"    value="10"/>
    <param name="laneMarkingSquaredThreshold"   type="int"    value="25"/>
    <param name="angleAdjacentLeg"              type="int"    value="25"/>
  </node>

 
  <!--older camera<param name="f_u"             type="double"   value="896.362732"/>
  <param name="f_v"             type="double"   value="912.085388"/>
  <param name="c_u"             type="double"   value="628.975436"/>
  <param name="c_v"             type="double"   value="405.070026"/>-->


  <!--param name="f_u"             type="double"   value="648.326172"/>
  <param name="f_v"             type="double"   value="659.470825"/>
  <param name="c_u"             type="double"   value="264.855530"/>
  <param name="c_v"             type="double"   value="261.701891"/>
  <param name="deg"             type="double"   value="4"/>
  <param name="cam_height"      type="double"   value="18"/>
  <node name="ip_mapper_node" pkg="ip_mapping" type="ip_mapper_node" /-->


  <node name="ip_mapper_node" pkg="ip_mapping" type="ip_mapper_node" output="screen">
  <param name="camera_name"     type="string"   value="/usb_cam/image_raw"/>  
  <param name="ow"              type="int"      value="640"/>  
  <param name="oh"              type="int"      value="480"/>
  <param name="f_u"             type="double"   value="624.650635"/>
  <param name="f_v"             type="double"   value="626.987244"/>
  <param name="c_u"             type="double"   value="309.703230"/>
  <param name="c_v"             type="double"   value="231.473613"/>
  <param name="deg"             type="double"   value="20"/>
  <param name="cam_h"           type="double"   value="18"/>
  </node>

</launch>
